body {
  font-family:Roboto, "San Francisco", sans-serif; /* Android and iOS font */
}

.container {
  width: 100%;
}

.desktop {
  display:block;
}

.tablet {
  display:none;
}

.phone {
  display:none;
}

img {
  height: 300px;
  width: 300px;
}

header {
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: background-color 1s;
}

header:hover {
  background-color: rgb(120, 121, 186); 
}

.header-left {
  float: left;
  margin-top:20px;
  margin-left:20px;
  transition: color 1s;
}

.header-left:hover {
  color: whitesmoke;
}

.header-right {
  float: right;
  margin-top:20px;
  margin-right:20px;
  transition: color 1s;
}

.header-right:hover {
  color: whitesmoke;
}

footer p {
  color: whitesmoke;
  font-size: 12px;
  text-align: center;
}

footer {
  height: 60px;
  margin-top: 100px;
  padding-top: 20px;
  background-color: rgb(120, 121, 186); 
}

/* Responsive for tablets */
@media all and (max-width: 1000px) {
  .desktop {
    display:none;
  }

  .tablet {
    display:block;
  }

  .phone {
    display:none;
  }
  img {
    height: 250px;
    width: 250px;
  }
}

/* Responsive for smartphones */
@media all and (max-width: 670px) {
  .desktop {
    display:none;
  }

  .tablet {
    display:none;
  }

  .phone {
    display:block;
  }
  img {
    height: 150px;
    width: 150px;
  }
}

table {
  border: 1px solid black;
  width: 100%;
}
td {
  border: 1px solid #808080;
}

table {
    font-family: "Lucida Console";
    background-color: rgba(226, 192, 128, 0.1);
}

.members{
    margin-top: 50px;
}

.members h1{
    color: #5b5ca3;
}

td{
    padding: 10px 10px;
}

table, tr, td{
    border: 2px solid rgb(120, 121, 186);
}

.team-name{
    font-size: 20px;
    text-align: center;
}

.mascot{
    margin: 30px;
    text-align: center;
}

.introduction{
    margin-left: 20px;
    margin-bottom: 40px;
}

.intro-container{
    margin-top: 30px;
    padding: 30px 30px;
    background-image: url(background-intro.jpg);
    background-color: rgba(250, 255, 255, 0.2);
    background-size: cover;
}
